@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

* {
    padding: 0; /*reset the outer padding*/
    margin: 0; /*reset the inner padding*/
    font-family: 'Hind Madurai', sans-serif;
    overflow: hidden; /*Hide the over-lapping of elements if any has been caused*/
}

body { /*Selector*/
    /*Properties Field*/
}

.container-fluid {
    height: 100vh;
    background: linear-gradient(to top, cornflowerblue, rgba(80, 255, 229, 0.11), transparent);
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.elHeader {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.elNavBar {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
}

.elFooter {
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
}

.elAdvert {
    grid-column: 12 / span 1;
    grid-row: 3 / span 9;
}

.elSideNavBar {
    grid-column: 1 / span 1;
    grid-row: 3 / span 9;
}

.elMainPageBody {
    grid-column: 2 / span 10;
    grid-row: 3 / span 9;
}

.navContainer {
    box-shadow: 0 5px 40px #9b9b92;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.navContainer .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav .ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*implementing new code*/
 .heroSection{
     text-align:center ;
 }
 .ul li{
     padding-right: 1vw;
 }